<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <nav class="toolbar-img">
    <a routerLink="/">
    <img
      width="40"
      alt="Angular Logo"
      src="../assets/{{homeStatus}}.png"    />
    </a>
  </nav>

  <nav class="toolbar-title">
    <a routerLink="/about" >About</a>
  </nav>

  <nav class="toolbar-title">
    <a routerLink="/resume">Resume</a>
  </nav>

  <div class="spacer"></div>

  
  
</div>
<div class="card-container">


<div class="content" role="main">


  <router-outlet></router-outlet>

  <!-- Icon Links -->
  <div class="card-container">
    <a class="icon-link" href="{{links.github}}" target="_blank" title="github">
      <img
        src="../assets/github.png"
        />
    </a>

    <a class="icon-link" href="{{links.linkedin}}" target="_blank" title="linkedin">
      <img
        src="../assets/linkedin.png"
        />
    </a>
    <a class="icon-link" href="{{links.instagram}}" target="_blank" title="instagram">
      <img
        src="../assets/instagram.png"
        />
    </a>

    <a class="icon-link" href="{{links.sendEmail}}" target="_blank" title="email">
      <img
        src="../assets/email.png"
        />
    </a>
  </div>

  <!-- Footer -->
  <footer>
  </footer>


</div>



