<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<div class="navbar fixed-top navbar-expand-lg" style="background-color: rgb(214, 214, 214);">
  <ul class="nav nav-tabs ">

    <li class="nav-item toolbar-img ">
        <a  tabindex="-1" routerLink="/" aria-disabled="true">
        <img
          width="40"
          alt="Angular Logo"
          src="../assets/{{homeStatus}}.png"    />
        </a>
    </li>

    <li class="nav-item toolbar-title">
      <a class="nav-link" tabindex="-1" routerLink="/about" aria-disabled="true">About</a>
    </li>

    <li class="nav-item toolbar-title">
      <a class="nav-link" tabindex="-1" routerLink="/resume" aria-disabled="true">Resume</a>
    </li>

    <li class="nav-item toolbar-title">
      <a class="nav-link" tabindex="-1" routerLink="/art" aria-disabled="true">Art</a>
    </li>
  </ul>
</div>


<div class="content" role="main">


  <router-outlet></router-outlet>

  

  <!-- Footer -->
  
  <footer class="relative-bottom pt-5 pb-3">

    <!-- Icon Links -->
      <div class="container-fluid">
        <div class="row">

          <div class="col">
            <a class="icon-link" href="{{links.github}}" target="_blank" title="github">
              <img
                src="../assets/github.png"
                />
            </a>
          </div>

          <div class="col">
            <a class="icon-link" href="{{links.linkedin}}" target="_blank" title="linkedin">
              <img
                src="../assets/linkedin.png"
                />
            </a>
          </div>

          <div class="col">
            <a class="icon-link" href="{{links.instagram}}" target="_blank" title="instagram">
              <img
                src="../assets/instagram.png"
                />
            </a>
          </div>

          <div class="col">
            <a class="icon-link" href="{{links.sendEmail}}" target="_blank" title="email">
              <img
                src="../assets/email.png"
                />
            </a>
          </div>  

      </div>
    </div>
  </footer>


</div>



