<div class="extreme-header dark-text">Resume</div>

<!-- Education -->
<div class="card w-100">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="../../assets/western.png" class="card-img" style="max-height:130px"/>
                </div>
                <div class="col-10">
                    <h1 class="card-title">Western University</h1>
                    <h3 class="card-subtitle">4th Year Software Engineering</h3>
                    <a href="https://www.uwo.ca" target="_blank"class="btn btn-primary float-right card-button card-button-text">Website</a>
                </div>
            </div>
        </div>
        
    </div>
</div>