<div class="extreme-header dark-text">Resume</div>
<a href="../../assets/kelly-neuroth-resume.pdf" download>Download</a>

<!-- Education -->
<h1>Education</h1>
<div class="card w-100">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="../../assets/western.png" class="card-img" style="max-height:130px"/>
                </div>
                <div class="col-10">
                    <h1 class="card-title">Western University</h1>
                    <h3 class="card-subtitle">4th Year Software Engineering</h3>
                    <p>2016-2021</p>
                    <a href="https://www.uwo.ca" target="_blank"class="btn btn-primary float-right card-button card-button-text">Website</a>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- Work Experience -->
<h1 style="margin-top: 15px;">Work Experience</h1>
<div class="card w-100">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="../../assets/ibm.png" class="card-img" style="max-height:130px"/>
                </div>
                <div class="col-10">
                    <h1 class="card-title">IBM Canada</h1>
                    <h3 class="card-subtitle">Application Developer Intern</h3>
                    <p>2019-2021</p>
                    <a href="https://www.ibm.com" target="_blank"class="btn btn-primary float-right card-button card-button-text">Website</a>
                    <p>
                        <button class="btn btn-primary card-button card-button-text" type="button" data-toggle="collapse" data-target="#ibmCollapse" aria-expanded="false" aria-controls="ibmCollapse">
                            Read More
                        </button>
                    </p>
                    <div class="collapse pb-2" id="ibmCollapse">
                    <div class="card card-body inside-card">
                        As an application developer for the Customer Solution Center at IBM, I developed full stack web apps built into an internal site used by IBM emplyees. I designed new functionality, and re-built existing apps into a newer Node application. I worked with the Vue.js framework to create well thought-out user experiences and Express.js for a well structured back-end. I also gained some experience in writing SQL queries for custom data calls.
                        <br>
                        Most of my work was independant but a lot of collaboration was done with a small team of 3 developers to ensure requirements were being met. I was very excited to get the opportunity to work with a great team. With many new things being expected of me, the most valuble thing I learned at IBM was attention to detail. 
                        <br>
                        <ul class="list-group list-group-flush inside-card">
                            <li class="list-group-item inside-card">Full stack web-developement<img class="float-right" src="../../assets/check.png"/></li>
                            <li class="list-group-item inside-card">Node.js, Vue.js, Express<img class="float-right" src="../../assets/check.png"/></li>
                            <li class="list-group-item inside-card">Independant work, team collaboration<img class="float-right" src="../../assets/check.png"/></li>
                        </ul>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="card w-100 mt-3">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="../../assets/summer-jobs.png" class="card-img" style="max-height:130px"/>
                </div>
                <div class="col-10">
                    <h1 class="card-title">Summer Jobs</h1>
                    <h3 class="card-subtitle">Marynissen Estates, Maintenance by the Yard, Two Sisters Vineyards</h3>
                    <p>2014-2019</p>
                    <a href="https://www.twosistersvineyards.com/" target="_blank"class="btn btn-primary float-right card-button card-button-text">Two Sisters</a>
                    <a href="http://www.maintenancebytheyard.com/" target="_blank"class="btn btn-primary float-right card-button card-button-text">Maintenance by the Yard</a>
                    <a href="https://marynissen.com/" target="_blank"class="btn btn-primary float-right card-button card-button-text">Marynissen</a>
                    
                    <p>
                        <button class="btn btn-primary card-button card-button-text" type="button" data-toggle="collapse" data-target="#summerCollapse" aria-expanded="false" aria-controls="summerCollapse">
                            Read More
                        </button>
                    </p>
                    <div class="collapse pb-2" id="summerCollapse">
                    <div class="card card-body inside-card">
                        While unrelated to software engineering, these jobs helped me develop my soft skills and I learned a lot. At Marynissen I learned patience and persistence through gardening and dishwashing. My teamwork and communication became sharper as a result of the close knit team at Maintenance by the Yard. And I learned to develop a good work ethic under minimal supervision working the grounds at Two Sisters Vineyards.
                        <br>
                        All of these jobs gave me a starting point to develop my work habits, and I look forward to growing as I search for my career.
                        <br>
                        <ul class="list-group list-group-flush inside-card">
                            <li class="list-group-item inside-card">Dishwashing, event set-up and take down<img class="float-right" src="../../assets/check.png"/></li>
                            <li class="list-group-item inside-card">Grass cutting<img class="float-right" src="../../assets/check.png"/></li>
                            <li class="list-group-item inside-card">Property maintenance<img class="float-right" src="../../assets/check.png"/></li>
                        </ul>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Projects -->
<h1 style="margin-top: 15px">Projects</h1>

<div class="accordion" id="projectAccordion">

    <!-- Academic Projects -->
    <div class="card">
        <div class="card-header" id="academic">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#academicCollapse" aria-expanded="false" aria-controls="academicCollapse">
                    Academic
                </button>
            </h2>
        </div>

        <div id="academicCollapse" class="row justify-content-around collapse inside-card pb-3">

            <!-- COVID Tracer -->
            <div class="card col-5 mt-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="card-title">Capstone Project</h1>
                                <h3 class="card-subtitle">"COVID Tracer"</h3>
                                <p>2020-2021</p>                        
                                <p>
                                    <button class="btn btn-primary card-button card-button-text" type="button" data-toggle="collapse" data-target="#academicReadMore" aria-expanded="false" aria-controls="covidCollapse">
                                        Read More
                                    </button>
                                </p>
                                <div class="collapse pb-2" id="academicReadMore">
                                <div class="card card-body inside-card">
                                    Full-stack web app for Covid-19 contact tracing in indoor establishments. This project gave me the experience of organizing group members into specific roles based on comfortability and preference. I also was able to experience remote collaboration with group members. It was required to report and present project progress.
                                    <ul class="list-group list-group-flush inside-card">
                                        <li class="list-group-item inside-card">Designing full-stack web app<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Organizing group members into roles<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Reporting and presenting progress<img class="float-right" src="../../assets/check.png"/></li>
                                    </ul>
                                </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Game Design Project -->
            <div class="card col-5 mt-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="card-title">Game Design Project</h1>
                                <h3 class="card-subtitle">Untitled Platforming Game</h3>
                                <p>2021</p>                        
                                <p>
                                    <button class="btn btn-primary card-button card-button-text" type="button" data-toggle="collapse" data-target="#academicReadMore" aria-expanded="false" aria-controls="groundbreakerCollapse">
                                        Read More
                                    </button>
                                </p>
                                <div class="collapse pb-2" id="academicReadMore">
                                <div class="card card-body inside-card">
                                    A unity based 2D platforming game. Unity game engine and C#. Started as a school project, turned into a side project I do for fun. 
                                    <ul class="list-group list-group-flush inside-card">
                                        <li class="list-group-item inside-card">Writing informative and enticing pitch<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Developing working prototype<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Developing working demo<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Writing postmortem document analysing shortcomings and successes<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card"><a href="https://github.com/kneuroth/VideoGame" target="_blank">Github Repository</a></li>
                                    </ul>
                                </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- Professional Projects -->
    <div class="card">
        <div class="card-header" id="professional">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#professionalCollapse" aria-expanded="false" aria-controls="professionalCollapse">
                    Professional
                </button>
            </h2>
        </div>

        <div id="professionalCollapse" class="row justify-content-around collapse inside-card pb-3">

            <!-- Inventory Lookup -->
            <div class="card col-5 mt-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="card-title">Inventory Lookup System</h1>
                                <p>September 2020 - August 2020</p>                        
                                <p>
                                    <button class="btn btn-primary card-button card-button-text" type="button" data-toggle="collapse" data-target="#professionalReadMore" aria-expanded="true" aria-controls="inventoryCollapse">
                                        Read More
                                    </button>
                                </p>
                                <div class="collapse pb-2" id="professionalReadMore">
                                <div class="card card-body inside-card">
                                    I gathered requirements and designed a inventory lookup and display system in the early stages of my internship with IBM
                                    <ul class="list-group list-group-flush inside-card">
                                        <li class="list-group-item inside-card">Building a new feature based on gathered requirements from users<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Front and back-end development<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Designing Vue components with optimal HCI methods in practice<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Building backend routes and data queries<img class="float-right" src="../../assets/check.png"/></li>
                                    </ul>
                                </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Fulfillment Request form -->
            <div class="card col-5 mt-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="card-title">Fulfillment Request Form</h1>
                                <p>December 2020 - February 2021</p>                        
                                <p>
                                    <button class="btn btn-primary card-button card-button-text" type="button" data-toggle="collapse" data-target="#professionalReadMore" aria-expanded="false" aria-controls="fulfillmentCollapse">
                                        Read More
                                    </button>
                                </p>
                                <div class="collapse pb-2" id="professionalReadMore">
                                <div class="card card-body inside-card">
                                    A multipaged form rebuilt from php source code into a Node app
                                    <ul class="list-group list-group-flush inside-card">
                                        <li class="list-group-item inside-card">Re-built existing functionality in new framework<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Front and back-end development<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Reading and testing old PHP code to replicate functionality in Vue / Node application<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Testing for consistent results between old and new systems<img class="float-right" src="../../assets/check.png"/></li>
                                    </ul>
                                </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- Personal Projects -->
    <div class="card">
        <div class="card-header" id="professional">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#personalCollapse" aria-expanded="false" aria-controls="personalCollapse">
                    Personal
                </button>
            </h2>
        </div>

        <div id="personalCollapse" class="row justify-content-around collapse inside-card pb-3">

            <!-- This website -->
            <div class="card col-5 mt-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="card-title">kneuroth.github.com</h1>
                                <p>January 2021 - present</p>                        
                                <p>
                                    <button class="btn btn-primary card-button card-button-text" type="button" data-toggle="collapse" data-target="#personalReadMore" aria-expanded="true" aria-controls="inventoryCollapse">
                                        Read More
                                    </button>
                                </p>
                                <div class="collapse pb-2" id="personalReadMore">
                                <div class="card card-body inside-card">
                                    Angular front-end web app hosted by Github. The purpose of this site is to have a convenient location for future employers to see my projects and accomplishments
                                    <ul class="list-group list-group-flush inside-card">
                                        <li class="list-group-item inside-card">Angular.js framework<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Version control and deployment with Github<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Bootstrap design elements<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Custom art (icons, pictures)<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card"><a href="https://github.com/kneuroth/kneuroth.github.io" target="_blank">Github Repository</a></li>
                                    </ul>
                                </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Feed the Rat -->
            <div class="card col-5 mt-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <h1 class="card-title">Feed the Rat</h1>
                                <p>January 2021</p>                        
                                <p>
                                    <button class="btn btn-primary card-button card-button-text" type="button" data-toggle="collapse" data-target="#personalReadMore" aria-expanded="true" aria-controls="inventoryCollapse">
                                        Read More
                                    </button>
                                </p>
                                <div class="collapse pb-2" id="personalReadMore">
                                <div class="card card-body inside-card">
                                    A terrible Unity game I built to make my friends laugh
                                    <ul class="list-group list-group-flush inside-card">
                                        <li class="list-group-item inside-card">Unity Game Engine<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Version control and deployment with Github<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">C# Scripting language<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card">Custom art (icons, pictures)<img class="float-right" src="../../assets/check.png"/></li>
                                        <li class="list-group-item inside-card"><a href="https://github.com/kneuroth/feed-the-rat" target="_blank">Github Repository</a></li>
                                    </ul>
                                </div>
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<!-- Skills -->
<h1 style="margin-top: 15px">Skills</h1>

<div class="row justify-content-around ">
    
    <div class="col-6">
        <h2>Technical</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">HTML/CSS/Javascript</li>
            <li class="list-group-item">Full-stack Development</li>
            <li class="list-group-item">Node.JS, Vue</li>
            <li class="list-group-item">GitHub</li>
            <li class="list-group-item">Java, Python, C++</li>
            <li class="list-group-item">Database management systems</li>
        </ul>
    </div>

    <div class="col-6">
        <h2>Soft</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Strong ability to learn and apply new skills</li>
            <li class="list-group-item">Experience with the software process and knowledge of agile development methodology</li>
            <li class="list-group-item">Comfortable with group projects and independent work</li>
            <li class="list-group-item">Eliciting and translating project requirements</li>
        </ul>
    </div>

</div>

<!-- Hobbies and Passions -->
<h1 style="margin-top: 15px">Hobbies and Passions</h1>

<ul class="list-group list-group-flush">
    <li class="list-group-item">Climbing / bouldering<img class="pl-2" src="../../assets/climbing.png"/></li>
    <li class="list-group-item">Volleyball<img class="pl-2" src="../../assets/volleyball.png"/></li>
    <li class="list-group-item">Fitness<img class="pl-2" src="../../assets/fitness.png"/></li>
    <li class="list-group-item">Piano<img class="pl-2" src="../../assets/piano.png"/></li>
    <li class="list-group-item">Gaming<img class="pl-2" src="../../assets/gaming.png"/></li>
    <li class="list-group-item"><a href="/art">Art/drawing</a><img class="pl-2" src="../../assets/drawing.png"/></li>
</ul>
