/* You can add global styles to this file, and also import other style files */
:root {
    --main-background: "";
    --footer-background: "";
    --footer-border: "";
    --light-text: "";
    --dark-text: "";
    --nav-background: "";
    --nav-border: "";
    --nav-text: "";
    --nav-text-hover: "";
    --card-background: "";
    --card-border: "";
    --card-button: "";
    --card-button-border: "";
    --card-button-text: "";
    --inside-card: "";
    --inside-card-border: "";
    --a-text: "";
    --a-text-hover: "";
  }

html, body { 
    height: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-typography {
    background-color: var(--main-background);
}

footer{
    background-color: var(--footer-background) !important;
    border-color: var(--footer-border) !important;
}

.navbar{ 
    background-color: var(--nav-background) !important;
    border-color: var(--nav-border) !important;
}

.nav-link {
    color: var(--nav-text)
}
.nav-link:hover{
    color: var(--nav-text-hover)
}

.card{
    background-color: var(--card-background) !important;
    border-color: var(--card-border) !important;
}

.card-button{
    background-color: var(--card-button) !important;
    border-color: var(--card-button-border) !important;
}

.card-button-text{
    color: var(--card-button-text) !important;
}

.inside-card{
    background-color: var(--inside-card) !important;
    border-color: var(--inside-card-border) !important;
}

.light-text {
   color: var(--light-text);
}

.dark-text {
    color: var(--dark-text);
}

a {
    color: var(--a-text)
}

a:hover {
    color: var(--a-text-hover);
}